<launch>
    <arg name="headless" default="true"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(find hospitalbot)/urdf/hospitalbot.urdf.xacro'"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node pkg="rviz" type="rviz" name="rviz" if="$(eval not headless)" args="-d $(find hospitalbot)/config/visualize_model.rviz"/>
</launch>